<h1>Blogspace</h1>

<div class="row">
  {{#each articles}}
  <div class="col-sm-12 col-lg-4">
    <div class="card h-100">
      <img src="{{img}}" class="card-img-top" alt="{{this.title}}" />
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">By <a href="/users/{{this.author._id}}"></a></p>
        <p class="card-text">{{this.createdYear}}</p>
        <p class="card-text description-text">{{this.content}}</p>
        <a href="/articles/{{this.id}}" class="btn btn-primary">See full Article</a>
        {{#if this.owner}}
        {{> editDelete }}
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>